<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>historewind</title>
		<meta charset="utf-8">
		<meta name="theme-color" content="#3F51B5">
		<meta name="apple-mobile-web-app-status-bar-style" content="#3F51B5">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="apple-mobile-web-app-title" content="Historewind">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<link rel="manifest" href="./manifest.json">

		<!-- external scripts -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
		<script type="text/javascript" 	src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.js"></script>
		<script type="text/javascript" 	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-animate.min.js"></script>
		<script type="text/javascript" 	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-aria.min.js"></script>
		<script type="text/javascript" 	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-messages.min.js"></script>

		<!-- firebase -->
		<script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-storage.js"></script>
		<script>
			var config = {
			  apiKey: "AIzaSyCRv_8yFaOyHylCX3PA3PVBRQ6YxH2p3vY",
			  authDomain: "historewind.firebaseapp.com",
			  projectId: "historewind",
			  storageBucket: "historewind.appspot.com"
			};
			firebase.initializeApp(config);
		  </script>

		<link rel="shortcut icon" type="image/png" href="./res/icons/launcher-icon-1x.png"/>

		<link rel="apple-touch-icon" href="./res/icons/touch/touch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="152x152" href="./res/icons/touch/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="180x180" 	href="./res/icons/touch/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="167x167" 	href="./res/icons/touch/touch-icon-ipad-retina.png">

		<!-- <link rel="apple-touch-startup-image" href="./res/apple-touch-startup-image.png"> -->

		<!-- iPad retina portrait startup image -->  
	    <link href="./res/launch/launch-ipad.png" media="(device-width: 768px) and (device-height: 	1024px)  
	                     and (-webkit-device-pixel-ratio: 2)  
	                     and (orientation: portrait)" rel="apple-touch-startup-image">  
	
	    <!-- iPad retina landscape startup image -->  
	    <link href="./res/launch/launch-ipad.png" media="(device-width: 768px) and (device-height: 	1024px)  
	                     and (-webkit-device-pixel-ratio: 2)  
	                     and (orientation: landscape)" rel="apple-touch-startup-image">  
	
	    <!-- iPad non-retina portrait startup image -->  
	    <link href="./res/launch/launch-ipad.png" media="(device-width: 768px) and (device-height: 	1024px)  
	                     and (-webkit-device-pixel-ratio: 1)  
	                     and (orientation: portrait)" rel="apple-touch-startup-image">  
	
	    <!-- iPad non-retina landscape startup image -->  
	    <link href="./res/launch/launch-ipad.png" media="(device-width: 768px) and (device-height: 	1024px)  
	                     and (-webkit-device-pixel-ratio: 1)  
	                     and (orientation: landscape)" rel="apple-touch-startup-image">  
	
	    <!-- iPhone 6 Plus portrait startup image -->  
	    <link href="./res/launch/launch-iphonese.png" media="(device-width: 414px) and 	(device-height: 736px)  
	                     and (-webkit-device-pixel-ratio: 3)  
	                     and (orientation: portrait)" rel="apple-touch-startup-image">  
	
	    <!-- iPhone 6 Plus landscape startup image -->  
	    <link href="./res/launch/launch-iphonese.png" media="(device-width: 414px) and 	(device-height: 736px)  
	                     and (-webkit-device-pixel-ratio: 3)  
	                     and (orientation: landscape)" rel="apple-touch-startup-image">  
	
	    <!-- iPhone 6 startup image -->  
	    <link href="./res/launch/launch-iphonese.png" media="(device-width: 375px) and 	(device-height: 667px)  
	                     and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">  
	
	    <!-- iPhone 5 startup image -->  
	    <link href="./res/launch/launch-iphonese.png" media="(device-width: 320px) and 	(device-height: 568px)  
	                     and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">  
	
	    <!-- iPhone < 5 retina startup image -->  
	    <link href="./res/launch/launch-iphonese.png" media="(device-width: 320px) and 	(device-height: 480px)  
	                     and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">  
	
	    <!-- iPhone < 5 non-retina startup image -->  
	    <link href="./res/launch/launch-iphonese.png" media="(device-width: 320px) and 	(device-height: 480px)  
	                     and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">  

		<!-- styles -->
		<link rel="stylesheet" type="text/css" 	href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.css">

		<!-- custom styles -->
		<link rel="stylesheet" type="text/css" href="./src/styles/toolbar.css">
		<link rel="stylesheet" type="text/css" href="./src/styles/gallery.css">
		<link rel="stylesheet" type="text/css" href="./src/styles/common.css">

	</head>
	<body>
		<div class="mainContainer" ng-controller="homeCtrl">
			<div layout="column" ng-cloak="">
				<div flex>
					<md-toolbar class="toolbar" ng-controller="toolbarCtrl">
						<span class="todayDate">
							{{date}}
						</span>
						<span>
							<img src="./res/header.png"/>
						</span>
						<md-menu md-position-mode="target-right target">
							<ng-md-icon class="menuIcon" ng-click="$mdMenu.open($event)" icon="more_vert" style="fill: white" size="24"></ng-md-icon>
							<md-menu-content width="3" >
								<md-menu-item>
									<md-button aria-label="#CE93D8_color" class="md-fab md-mini" style="background: #CE93D8" ng-click="changeBackground('#CE93D8')"></md-button>
									<md-button aria-label="#00ACC1_color" class="md-fab md-mini" style="background: #00ACC1" ng-click="changeBackground('#00ACC1')"></md-button>
									<md-button aria-label="#FBC02D_color" class="md-fab md-mini" style="background: #FBC02D" ng-click="changeBackground('#FBC02D')"></md-button>
									<md-button aria-label="#8D6E63_color" class="md-fab md-mini	" style="background: #8D6E63" ng-click="changeBackground('#8D6E63')"></md-button>
								</md-menu-item>
								<md-menu-item>
									<md-button ng-click="showModel()">
										<i class="material-icons" style="vertical-align:middle; padding-bottom: 3px; font-size: 18px;">copyright</i> License
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</md-toolbar>
				</div>
				<div flex>
					<md-content class="md-padding gallery">
						<span class="headingImg">
							<img src="./res/events.png" class="headingImg" />
						</span>
						<event-directive></event-directive>
						<span class="headingImg">
							<img src="./res/births.png" class="headingImg" />
						</span>
						<birth-directive></birth-directive>
						<span class="headingImg">
							<img src="./res/deaths.png" class="headingImg"/>
						</span>
						<death-directive></death-directive>
						<hr align="center" style="width: 60%; margin-top: 4em;"/>
						<div class="lic-attrib">
							Text is available under the <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike License</a>; additional terms may apply. See <a href="https://wikimediafoundation.org/wiki/Terms_of_Use">Terms of Use</a> for details.
						</div>
					</md-content>
				</div>
			</div>
		</div>

		<!-- custom scripts -->
		<script type="text/javascript" src="./src/scripts/main.js"></script>
		<script type="text/javascript" src="./src/scripts/controllers/toolbar-ctrl.js"></script>
		<script type="text/javascript" src="./src/scripts/controllers/home-ctrl.js"></script>
		<script type="text/javascript" 	src="./src/scripts/controllers/networkErrorToastCtrl.js"></script>

		<!--services-->
		<script type="text/javascript" src="./src/scripts/services/dataService.js"></script>

		<!--directives-->
		<script type="text/javascript" src="./src/scripts/directives/births.js"></script>
		<script type="text/javascript" src="./src/scripts/directives/deaths.js"></script>
		<script type="text/javascript" src="./src/scripts/directives/events.js"></script>

		<!--filters-->
		<script type="text/javascript" src="./src/scripts/filters/anchorFilter.js"></script>

		<!-- network scripts -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-sanitize.js"></script>

		<!-- network styles -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	</body>
</html>