<md-dialog class="colorDialog" aria-label="colorDialog">
	<md-dialog-content>
		<md-content>
			<md-button aria-label="#CE93D8_color" class="md-fab md-mini" style="background: #CE93D8" ng-click="changeBackground('#CE93D8')"></md-button>
			<md-button aria-label="#00ACC1_color" class="md-fab md-mini" style="background: #00ACC1" ng-click="changeBackground('#00ACC1')"></md-button>
			<md-button aria-label="#FBC02D_color" class="md-fab md-mini" style="background: #FBC02D" ng-click="changeBackground('#FBC02D')"></md-button>
			<md-button aria-label="#8D6E63_color" class="md-fab md-mini" style="background: #8D6E63" ng-click="changeBackground('#8D6E63')"></md-button>
		</md-content>
	</md-dialog-content>
</md-dialog>