<md-dialog class="colorDialog" aria-label="colorDialog">
	<md-dialog-content>
		<md-content>
			<md-button aria-label="#3F51B5_color" class="md-fab md-mini" style="background: #3F51B5" ng-click="changeBackground('#3F51B5')"></md-button>
			<md-button aria-label="#D81B60_color" class="md-fab md-mini" style="background: #D81B60" ng-click="changeBackground('#D81B60')"></md-button>
			<md-button aria-label="#00ACC1_color" class="md-fab md-mini" style="background: #00ACC1" ng-click="changeBackground('#00ACC1')"></md-button>
			<md-button aria-label="#FBC02D_color" class="md-fab md-mini" style="background: #FBC02D" ng-click="changeBackground('#FBC02D')"></md-button>
			<md-button aria-label="#757575_color" class="md-fab md-mini" style="background: #757575" ng-click="changeBackground('#757575')"></md-button>
		</md-content>
	</md-dialog-content>
</md-dialog>