<md-dialog class="colorDialog">
	<md-dialog-content>
		<md-content>
			<md-button class="md-fab md-mini" style="background: #3F51B5" ng-click="changeBackground(#3F51B5)"></md-button>
			<md-button class="md-fab md-mini" style="background: #D81B60"></md-button>
			<md-button class="md-fab md-mini" style="background: #00ACC1"></md-button>
			<md-button class="md-fab md-mini" style="background: #FBC02D"></md-button>
			<md-button class="md-fab md-mini" style="background: #757575"></md-button>
		</md-content>
	</md-dialog-content>
</md-dialog>