<section>
	<md-card class="galleryCard">
		<img src="./src/images/img1.jpg">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">Legend was born today</span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content class="md-padding">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.
			</p>
		</md-card-content>
	</md-card>
</section>