.gallary {
	text-align: center;
}
.gallaryCard {
	height: auto;
	width: 600px;
	margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;

}
.gallaryCard:hover {
	cursor: pointer;
}
md-tab {
	display: inline-flex;
}