.gallery {
	background-color: #3F51B5;
}
.galleryCard {
	height: auto;
	width: auto;
	max-width: 600px;
	margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
	border-radius: 3px;
}
.gallery img {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.galleryCard:hover {
	cursor: pointer;
}
