.gallary {
	background-color: #3F51B5;
}
.gallaryCard {
	height: auto;
	width: auto;
	max-width: 600px;
	margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
	border-radius: 3px;
}
.gallary img {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.gallaryCard:hover {
	cursor: pointer;
}
