a {
	text-decoration: none;
	color: #FF5722;
	font-weight: bolder;
	font-family: sans-serif;
}
.gallery {
	background-color: #3F51B5;
}
.galleryCard {
	height: auto;
	width: auto;
	max-width: 600px;
	margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
	border-radius: 3px;
}
.cardTitle {
	position: relative;
	padding: 1em;
	padding-bottom: 5px;
	font-family: sans-serif;
}
.cardTitleText {
	color: #424242;
	font-weight: bolder !important;
}
.cardTitleText span {
	font-weight: bolder !important;
}
.cardDesc {
	padding: 1em;
	padding-top: 5px;
}
.gallery img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

