.toolbar {
	/*background: blue;*/
}
.toolbar span {
	padding: 5px;
	height: 40px;
	margin: auto;
}
.toolbar span img {
	height: 30px;
  object-fit: cover;
}
.spacer {
	-webkit-box-flex: 1;
	flex: 1 1 auto;
}
.menuIcon {
	position: absolute;
	right: 5px;
	top: 10px;
}
.reloadIcon {
	position: absolute;
	right: 40px;
	top: 10px;
}
.menuIcon, .reloadIcon:hover {
	cursor: pointer;
}
.todayDate {
	color: white;
	font-size: 15px;
	font-family: roboto;
	position: absolute;
	left: 5px;
	top: 5px;
}
